/* line 7, ../sass/ie.scss */
body.bp {
  text-align: center;
}
/* line 45, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
* html body.bp legend {
  margin: 0px -8px 16px 0;
  padding: 0;
}
/* line 49, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
html > body.bp p code {
  *white-space: normal;
}
/* line 64, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp .container {
  text-align: left;
}
/* line 66, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sup {
  vertical-align: text-top;
}
/* line 68, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp sub {
  vertical-align: text-bottom;
}
/* line 70, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp hr {
  margin: -8px auto 11px;
}
/* line 72, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp img {
  -ms-interpolation-mode: bicubic;
}
/* line 74, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp fieldset {
  padding-top: 0;
}
/* line 76, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  overflow: auto;
}
/* line 79, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 83, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.text:focus {
  border: 1px solid #666666;
}
/* line 85, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title {
  margin: 0.5em 0;
  background-color: white;
  border: 1px solid #bbbbbb;
}
/* line 89, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.title:focus {
  border: 1px solid #666666;
}
/* line 91, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.checkbox {
  position: relative;
  top: 0.25em;
}
/* line 94, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 97, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp input.button {
  position: relative;
  top: 0.25em;
}
/* line 100, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp textarea {
  margin: 0.5em 0;
}
/* line 102, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp select {
  margin: 0.5em 0;
}
/* line 104, ../../../../.rvm/gems/ruby-1.8.7-p249/gems/compass-0.11.alpha.0.3bf2a02/frameworks/blueprint/stylesheets/blueprint/_ie.scss */
body.bp button {
  position: relative;
  top: 0.25em;
}
