// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

@import "compass/utilities/lists";
@import "compass/css3";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
// @include blueprint

// But Compass recommends that you scope your blueprint styles
// So that you can better control what pages use blueprint
// when stylesheets are concatenated together.
@include blueprint-scaffolding;

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}

form.bp {
  @include blueprint-form;
}

// ---

$grey: #999;
$lt-grey: #E5E5E5;
$dk-grey: #626262;

#container {
  @include container;
}

#header {
  @include column($blueprint-grid-columns);
  @include clearfix;
  position: relative;
  border-bottom: 1px solid $lt-grey;
  h1 {
    font-weight: bold;
    a {
      color: #4D5B60;
      text-decoration: none;
    }
    em {
      color: $grey;
      font-family: monospace;
    }
    .search-type, .search-token {
      font-size: 0.7em;
      padding: 0px 4px;
    }
    .search-type {
      color: $dk-grey;
    }
  }
  #loading {
    position: absolute;
    top: 5px;
    @include column($blueprint-grid-columns, true);
    text-align: center;
  }
  ul.menu {
    @include inline-block-list(20);
    @include opacity(0.3);
    @include clearfix;
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
    a {
      color: $dk-grey;
      padding: 0px 4px;
      font-weight: bold;
      &.review {
        color: #000;
        padding: 0px 8px;
        border-right: 1px solid $dk-grey;
      }
    }
    &:hover {
      @include transition("opacity", "0.5s", "ease");
      @include opacity(1);
    }
  }
}

#footer {
  @include column($blueprint-grid-columns, true);
  font-size: 10px;
  color: $grey;
  margin-top: 20px;
  text-align:center;
  padding: 10px;
}

#main {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
}

.action-form {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  padding: 20px 0px;
  position: relative;

  form {
    @include blueprint-inline-form;
    .content-input {
      @include column($blueprint-grid-columns - 3);
      padding: 4px;
      border:none;
      border-bottom: 1px solid $grey;
      font-size: 2em;
      color: $grey;
      &:focus {
        outline: none;
      }
    }
    .buttons {
      @include span(2, true);
      position: absolute;
      right: 0px;
    }
    input[type="submit"] {
      color: $dk-grey;
      font-size: 1.5em;
      font-weight: bold;
      padding: 8px 4px;
      background: none;
      border: none;
      margin-top: 16px;
      text-align: center;
      &:hover {
        color: #000;
        @include transition("background", "1s", "ease");
        background: #CCC;
        @include border-radius(2)
      }
    }
    a.cancel {
      color: $grey;
    }
  }
}

.actions {
  @include column($blueprint-grid-columns, true);
  @include clearfix;
  .action {
    @include clearfix;
    position: relative;

    &.complete {
      opacity: 0.5;
    }
    &.sleeping {
      opacity: 0.7;
      .content {
        font-size: 1.8em !important;
      }
    }
    &:hover {
      .meta {
        color: $dk-grey;
      }
    }
    .controls {
      @include column(1);
      @include prepend-top;
    }
    .meta {
      @include horizontal-list;
      @include column($blueprint-grid-columns - 2, true);
      @include prepend(1);
      color: $lt-grey;
      a {
        color: $grey;
        font-weight: bold;
        font-size: 1.1em;
        text-decoration: none;
        &:hover {
          text-decoration: underline
        }
      }
    }
  }
  .action-form {
    border-left: 1px solid $grey;
    .content-input, .action-preview {
      @include prepend(1);
    }
  }
}
body.bp {
  .actions .action .content, .action-preview {
    @include column($blueprint-grid-columns - 1, true);
    font-size: 2.4em;
    a {
      text-decoration: none;
      color: inherit;
      &:hover {
        text-decoration:underline;
      }
    }
    .verb {
      font-weight: bold;
    }
    .modifier {
      font-weight: normal;
      font-color: $dk-grey;
    }
    .subject {
      font-weight: bold;
    }
    sup {
      font-size: 35%;
      color: #FFF;
      background: $grey;
      @include border-radius(8px);
      padding: 2px 4px;
    }
  }
  .action-preview {
    padding: 0px 4px;
  }
  .replicator-form {
    .target {
      width: 300px;
      padding: 3px;
      margin-left: 5px;
    }
    .hidden {
      display: none;
    }
  }
}
